button {
  border-radius: 10px;
  background-color: #1e1b4b;
  padding: 10px;
  font-family: 'Poppins', sans-serif;
  border: none;
  cursor: pointer;
  color: rgb(245, 245, 245);
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

button:hover {
  background-color: #fdfcff;
  color: black;
}
